@font-face {font-family: "Serene W90 Regular";
  src: url("/fonts/serene.eot"); /* IE9*/
  src: url("/fonts/serene.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/serene.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/serene.woff") format("woff"), /* chrome、firefox */
  url("/fonts/serene.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/serene.svg#Serene W90 Regular") format("svg"); /* iOS 4.1- */
}


	body {
		color: #000000;
		font-family: "Serene W90 Regular";
		text-rendering: optimizeLegibility;	
		background: url(/mapgen/images/background.jpg) no-repeat top center fixed;
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
			
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
	}
	

	table	{
		border-width: 5px;
		border-style: ridge;
		border-radius: 25px;
		text-align:center;
		vertical-align:center;
		background-color: #C0C0C0;

	}

	th	{
		font-family: "Serene W90 Regular";
		font-size:26px;
		font-weight:bold;
		text-align:center;
		vertical-align:center;
		padding:5px 5px;		
	}
	
	td	{
		font-family: "Serene W90 Regular";
		font-size:16px;
		text-align:center;
		vertical-align:center;
		padding:5px 5px;	
	}	
	
	h1	{
		font-family: "Serene W90 Regular";
		font-size:32px;
		text-align:center;
		vertical-align:center;
		padding:0px 0px;			
	}
	
	a	{
		font-family: "Serene W90 Regular";
		text-align:center;
		vertical-align:center;
		padding:0px 0px;			
	}	

	.submit-zoom {
		width: 80px;
		height: 40px;
	}
	
	.submit-go-button {
		width: 150px;
		height: 60px;
		font-family: "Serene W90 Regular";
		font-size:22px;
	}
	
	.submit-update-button {
		width: 80px;
		height: 50px;
	}	
	
	.submit-reset-button {
		width: 150px;
		height: 50px;
	}

	.select-map-number {
		width: 50px;
		height: 30px;
		font-family: "Serene W90 Regular";
		font-size:22px;		
	}	
 
	.GPSMap {
		position: relative;
		width: 480px;
		height: 272px;
		border-width: 15px;
		border-style: inset;
		border-color: #656565;
		text-align: center;
		vertical-align: center;
		padding: 0px;
	}	


	.mapimg		{
		border-width: 15px;
		border-style: inset;
		border-color: #656565;		
		text-align:center;
		vertical-align:center;
		padding: 0px 0px;
	}
	
	.luatable	{
		background-color: #C0C0C0;
	}
	
	.luaoutput {
		text-align:left;
		font-size: 16px;
		font-family: Lucida Console;
		font-weight: normal;
		padding:10px 10px;

	}
	
	.center_column {
		table-layout: auto;
		text-align:left;
		vertical-align:center;		
	}
	
	.left_column {
		table-layout: auto;
		text-align:right;
		vertical-align:center;	
		padding:0px 0px;
	}
	
	.right_column {
		table-layout: auto;
		text-align:left;
		vertical-align:center;		
	}

	.processed_column {
		font-size: 16px;
		font-family: Lucida Console;
		font-weight: normal;
		table-layout: auto;
		text-align:center;
		vertical-align:center;	
	}
	
	* {box-sizing: border-box}

	/* Container needed to position the overlay. Adjust the width as needed */
	.container {
	  position: relative;
	}

	/* Make the image to responsive */
	.image {
	  display: block;
	  width: 100%;
	  height: auto;
	}

	/* The overlay effect - lays on top of the container and over the image */
	.overlay {
	  position: absolute;
	  bottom: 0;
	  background: rgb(0, 0, 0);
	  background: rgba(0, 0, 0, 0.5); /* Black see-through */
	  color: #f1f1f1;
	  width: 100%;
	  transition: .5s ease;
	  opacity:0;
	  color: white;
	  font-size: 20px;
	  padding: 20px;
	  text-align: center;
	}

	/* When you mouse over the container, fade in the overlay title */
	.container:hover .overlay {
	  opacity: 1;
	}